@model RouteHubDapperPractice.Models.BillsViewModel

<h1>Upcoming Bills</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upcomingBill in Model.TheUpcomingBills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => upcomingBill.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => upcomingBill.Amount)
                </td>
            </tr>
        }
    </tbody>
</table>